@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome from Azure Web App Service.Have a great year ahead.CICD </h1>
    <h1 class="display-4">HI this is cicd is for the all who wants to use of this Service.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
